In [2]:

def get_vaccine_df():
    vaccine_data = "https://opendata.ecdc.europa.eu/covid19/vaccine_tracker/csv/data.csv"
    return pd.read_csv(vaccine_data)

def get_variants_df():
    variants_data = "https://opendata.ecdc.europa.eu/covid19/virusvariant/csv/data.csv"
    return pd.read_csv(variants_data)

def get_notification_rate_df():
    notification_rate_data = "https://opendata.ecdc.europa.eu/covid19/nationalcasedeath/csv/data.csv"
    return pd.read_csv(notification_rate_data)

In [3]:
import pandas as pd

In [4]:
vaccine_df = get_vaccine_df()
variants_df = get_variants_df()
notification_rate_df = get_notification_rate_df()

In [5]:
vaccine_df.head()

,YearWeekISO,FirstDose,FirstDoseRefused,SecondDose,UnknownDose,NumberDosesReceived,Region,Population,ReportingCountry,TargetGroup,Vaccine,Denominator
0,2020-W53,2769,NaN,0,0,61425.0,AT,8901064,AT,1_Age60+,COM,2259262.0
1,2020-W53,0,NaN,0,0,0.0,AT,8901064,AT,1_Age60+,MOD,2259262.0
2,2020-W53,0,NaN,0,0,0.0,AT,8901064,AT,1_Age60+,UNK,2259262.0
3,2020-W53,0,NaN,0,0,0.0,AT,8901064,AT,1_Age60+,AZ,2259262.0
4,2020-W53,0,NaN,0,0,0.0,AT,8901064,AT,1_Age60+,JANSS,2259262.0

In [6]:
import numpy as np

In [7]:
r_df = vaccine_df[["YearWeekISO", "FirstDose", "SecondDose", "NumberDosesReceived", "Vaccine"]]
r_df = r_df.rename(columns={'YearWeekISO':'YW'})
r_df = r_df[vaccine_df.ReportingCountry == "RO"]

r_df = r_df.pivot_table(
    values = ["FirstDose", "SecondDose", "NumberDosesReceived"],
    index="YW",
    columns=["Vaccine"],
    aggfunc=np.sum
    )

In [10]:
r_df.NumberDosesReceived.dtypes

                     Vaccine
FirstDose            AZ         float64
                     COM        float64
                     JANSS      float64
                     MOD        float64
NumberDosesReceived  AZ         float64
                     COM        float64
                     JANSS      float64
                     MOD        float64
SecondDose           AZ         float64
                     COM        float64
                     JANSS      float64
                     MOD        float64
dtype: object

In [12]:
variants_df.head()

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
0,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.1.7,0.0,0.0
1,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.1.7+E484K,0.0,0.0
2,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.351,0.0,0.0
3,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.427/B.1.429,0.0,0.0
4,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.525,0.0,0.0

In [13]:
notification_rate_df.head()

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,source
0,Afghanistan,AFG,Asia,38928341,cases,0,2020-01,NaN,0,"Epidemic intelligence, national weekly data"
1,Afghanistan,AFG,Asia,38928341,cases,0,2020-02,0.0,0,"Epidemic intelligence, national weekly data"
2,Afghanistan,AFG,Asia,38928341,cases,0,2020-03,0.0,0,"Epidemic intelligence, national weekly data"
3,Afghanistan,AFG,Asia,38928341,cases,0,2020-04,0.0,0,"Epidemic intelligence, national weekly data"
4,Afghanistan,AFG,Asia,38928341,cases,0,2020-05,0.0,0,"Epidemic intelligence, national weekly data"